doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/style.css")
  body
    .header 
      .title
        h1= header
        nav.headerNav
          a(href='/') Home
          if user.isLoggedIn
            a(href='/profile') Profile
            form#logout-form(action="/logout", method="POST")
              button(type="submit") Logout
          else
            #loginModal 
              form(action="/login", method="post")
                fieldset
                  label(for="email") Email:
                  input(type="email", name="email", placeholder="Enter your RMI email", required)
                fieldset
                  label(for="password") Password:
                  input(type="password", name="password", placeholder="Password", required)
                  button(type="submit") Login
block content
